@font-face {
  font-family: Palatino;
  src: url(./assets/font/Palatino.ttc) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
  background-color: #362208;
}

.sidebar-container{
  position: fixed;
  /* top: 0; */
  bottom: 0;
  width: 100%;
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: red solid 1px; */
  background-image: linear-gradient(to bottom, #36220800 0%, #362208 15%);
  padding-inline: 3rem ;
}

.logo {
  width: 3rem;
  height: auto;
  cursor: pointer;
  z-index: 4;
  justify-content: center;
  align-self: center;
  display: flex;
}

.logo svg{
  align-self: center;
  width: 4rem;
  height: auto;
}

#content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding-inline: 2rem;
  padding-block: 2rem;
  margin-block-end: 10rem;
  img {
    width: 100%;
    height: auto;
  }
}

.hidden {
  display: none;
}

#filters {
  background-color: rgb(0, 0, 0);
  width: 40svw;
  height: 6rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
  padding-block: 1rem ;
  border: #af8355 solid 1px;
  color: #af8355;
  font-family: 'Spectral', serif;
}

label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  flex-shrink: 0;
  img{
    height: 2rem;
    width: auto;
  }
}

input.gen-filter {
  display: none; 
}

input[type="checkbox"]:not(:checked) ~ * {
  color: grey;
  opacity: 0.5;
}

.search-logo {
  cursor: pointer;
}

.gen5-item {
  width: 3rem;
  height: 2rem;
  background-color: #00000000;
  border: 1px dashed #af8355;
  border-radius: 50%;
}

.search-container {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 5;
  /* border: red solid 1px; */
  background-color: #1a11049c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
}

.search-wrapper {
  width: 50%;
  height: 4rem;
  padding: 1rem 2rem;         
  background-color: #1a1104;  
  border: 1px solid #af8355;  
  border-radius: 10rem;        
  color: #af8355;            
  font-family: 'Spectral', serif;
  font-size: 1.5rem;
  outline: none; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  svg {
    cursor: pointer;
  }           
}

.search-container-active {
  display: flex;
}

.fav-window {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: #362208;
  border: yellow solid 0.3rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.fav-window img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.fav-window:hover {
  width: 20rem;
  height: 20rem;
}



#modal {
  padding: 20px;
  /* border: 1px solid #ff0000; */
  z-index: 10;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  &::backdrop {
    background-color: #1a11049c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

#modal[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}




.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: 'Spectral', serif;
  color: #af8355;
  img{
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
  }
}

#modal-caption {
  font-size: 1.2rem;
}

#close-modal {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  color: #af8355;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}



@media screen and (width <= 1000px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width <= 600px) {
  #content {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 1rem;
    padding-block: 1rem;
  }
    .sidebar-container{
    padding-inline: 1rem ;
  }

  .logo svg{
    align-self: center;
    width: 3rem;
    height: auto;
  }

  .search-logo{
    width: 3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-logo svg{
    width: 1.2rem;
    height: auto;
  }

  .fav-window {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: #362208;
    border: yellow solid 0.2rem;
  }

  #filters {
    width: 63dvw;
    height: 4rem;
    padding-inline: 1.5rem;
  }

  label {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    img{
      height: 1.2rem;
      width: auto;
    }
    p{
      display: none;
    }
  }

  .gen5-item {
    height: 1.2rem;
    width: 1.8rem;
  }

  .search-wrapper {
    width: 90%;
    height: 3.5rem;
    padding: 1rem 2rem;         
    background-color: #1a1104;  
    border: 1px solid #af8355;  
    border-radius: 10rem;        
    color: #af8355;            
    font-family: 'Spectral', serif;
    font-size: 1.2rem;
    outline: none; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    svg {
      cursor: pointer;
      width: 1.2rem;
    }           
  }

}

